@font-face {
  font-family: 'DihjautiS-Regular';
  src: url("https://github.com/EL670/Test---playground/tree/main/fonts");
}
.intro {
  font-family: Dihjauti, serif;
  color: rgb(20, 61, 99);
  font-size: 1.25rem;
  font-weight: 700;
  border: 1px solid rgb(9, 9, 132);
  padding: 10 px;
  margin: 0%;
  background-color: #98fb98;
}

.nav-container {
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
  text-align:center;
}

#navbar {
  background-color: blanchedalmond;
  border-top: 1px solid blue;
  overflow:hidden;
}

#navbar ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

#navbar ul li{
  float: left;
}

#navbar ul li a{
  display:block;
  padding: 10px 20px;
  color: blue;
  text-decoration: none;
  font-family: calibri, sans-serif;
}

#navbar ul li a:hover{
  color:black;
  background-color: aqua;
  font-weight:normal;

}

/* body {
  display:grid;
  grid-template-rows: auto auto auto;
  min-height:100vh;  
} */

footer{
  font-family:calibri,sans-serif;
  width:100%;
  background-color: #98fb98;
  display:grid;
  grid-template-columns: auto auto;
}
 
.mainbody_text {
  font-family: Dihjauti, serif;
  background-color:#ffefd5;
  padding-bottom: 10px;
  margin-bottom:0px;
  color: blue;
  border:none;
  width: 100%;
  font-size: 1.1rem;  
}
.mainbody_text h2{
  margin-top:0px;
}