@font-face {
  font-family: 'DihjautiS-Regular';
  src: url("https://github.com/EL670/Test---playground/tree/main/fonts");
}
.intro {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(20, 61, 99);
  font-size: 1.25rem;
  border: 1px solid rgb(9, 9, 132);
  padding: 10 px;
  margin: 0%;
  background-color: #98fb98;
}